html {
	position: relative;
	min-height: 100%;
}

body{
	background-color: #EDE5F4;
	margin-bottom: 70px; !important
}

.error {
	color: #D63301;
	background-color: #FFCCBA;
	padding-top: 15px;
	height: 50px;
	margin-top: 50px;
	border-radius: 5px;
} 

@media (max-width: 768px) {
	body{
		margin-bottom: 150px; !important
	}
}


#close_icon{
	margin-top: -15px;
	color: black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }


@media (min-width: 768px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

/* register and login */

	#login_logo{
		margin-top: 200px;
		margin-bottom: 20px;
	}

	#login_logo h1{
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}

	#register_logo{
		margin-top: 150px;
		margin-bottom: 20px;	
	}

	#register_logo h1{
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}

/* end register and login */

/* header */
	.header{
		margin-bottom: 0;
		position: fixed;
		z-index: 1000;
		width: 100%;
		border: 0;
		border-radius: 0;
		background-color: #8EC7D2;
		font-family: 'Roboto', sans-serif;
		box-shadow: 0 5px 3px -4px rgba(0, 0, 0, .2);
	}

	.navbar-default .navbar-nav>li>a{
		color: #EDE5F4; 
		font-weight: 300;
	}

	#active_nav {
		background-color: #EDE5F4;
		color: #777;
	}

	.navbar-default .navbar-nav>li>a:hover{
		background-color: #EDE5F4;
	}

	#sign_out a:hover{
		background-color: #DB073D;
		color: white;
	}


/* end header */

/* content */

	#wrapper{
		padding-top: 50px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}

	#head_hr{
		border-color: #B8B8B8;
		margin-top: 0;
	}

	#head_name{
		margin-bottom: 5px;
		color:#777;
		font-size: 22px;
	}

	#type_tasks{
		border-radius: 0;
	}

	#bugs_header{
		background-color: #FF3333;
	}

	#new_features_header{
		background-color: #66FF33;
	}

	#proposal_header{
		background-color: #FFFF33;
	}

	#tasks_header{
		background-color: #3333CC;
	}

	#clear_a{
		color: #777;
		text-decoration: none;
	}

	#project_panel {
		border-radius: 0;
	}

	#project_panel {
		color: #777;
		height: 230px;
	}

	#project_panel_empty{
		background-color: #EDE5F4; 
		height: 230px;
	}

	#add_project{
		padding-top: 35px;
	}

	#avatar{
		width: 40px;
		height: 40px;
		border-radius: 5px;
	}

	#discuss{
		display: inline-block;
		width: 100%;
		padding-top: 20px;
	}

	@media (max-width: 768px) {
		#discuss{
			display: inline-block;
			width: 100%;
			padding-top: 20px;
		}
		 #discuss h5{
		 	padding-left: 5px;
		 }		
	}

	#completed_tasks h5{
		color: #777; 

	}

	#task_manager_hr{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#blocker_header{
		background-color: red;
	}

	#critical_header{
		background-color: #FF9900;
	}

	#major_header{
		background-color: yellow;
	}

	#minor_header{
		background-color: #33FF00;
	}

	#task p .btn-sm{
		padding:0 5px 0 5px;
	}

	.task_a{
		color: #333;
	}

	.task_a:hover{
		color: #777;
	}

	.add{
		color: #777;
		text-decoration: none;
	}

	.add:hover{
		color: #777;
		text-decoration: none;
	
	}

	#project_name{
		margin-top: -7px;
		margin-bottom: -7px;
		height: 31px;
	}

	#submit_project{
		background-color: #66FF33;
		border-color: #66FF33;
		margin-right: 5px;
	}

	#author{
		margin-bottom: 15px;		
	}

	.author {
		padding-left: 5px;
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #777;
	}

	@media (max-width: 768px) {
		#task_attr .form-control{
			margin-bottom: 5px;
		}	
	}
	

/* end content */


/* footer */
	.footer{
		background-color: #DB073D;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 70px;
	}

	#footer_menu{
		margin: 0;
		padding: 0;

	}

	#footer_menu li{
		display: inline-block;
		list-style: none;
		font-size: 16px;
		font-weight: 300;
		margin-left: 20px;

	}

	#footer_menu li a{
		color: #EDE5F4;
	}

	#footer_menu li a:hover{
		text-decoration: none;
	}

	#logo_footer{
		padding-top: 0px;
		padding-bottom: 0px;

	}


/* end footer */